@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 330 17% 97%;
    --foreground: 240 10% 3.9%;
    --card: 330 17% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 330 17% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 320 60% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 330 10% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 330 10% 94%;
    --muted-foreground: 240 4% 46%;
    --accent: 279 90% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 330 10% 88%;
    --input: 330 10% 88%;
    --ring: 320 60% 45%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 6%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 320 60% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;
    --accent: 279 90% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 320 60% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
